.reservation_time_button .c4g_brick_radio_group input[type="radio"], .reservation_time_event_button .c4g_brick_radio_group input[type="radio"] {
    left:-9999px;
    position:absolute;
    z-index: 999;
}
/*
.ui-datepicker-calendar td.ui-state-disabled span.ui-state-default {
    text-align:center;
    background-color:rgba(204,0,0,1);
    color:#fff;
}
.ui-datepicker-calendar td a.ui-state-default {
    text-align:center;
    background-color:#080;
}*/
.reservation_time_button .c4g_brick_radio_group label, .reservation_time_event_button .c4g_brick_radio_group label {
    width:98%;
    height:30px;
    display:inline-block;
    margin-right:2px;
    margin-bottom:2px;
    text-align:center;
    background-color: green;
    line-height:30px;
    color:#fff;
    cursor: pointer;
    font-weight: normal;
}
.reservation_time_button input[type = "radio"]:checked + label, .reservation_time_event_button input[type = "radio"]:checked + label {
    padding:0;
    background-color: darkgreen;
    border-bottom: yellow;
    font-weight: bold;
}
.reservation_time_button .radio_object_hurry_up + label, .reservation_time_event_button .c4g_radio_object_hurry_up .radio_element input[type = "radio"] + label {
    background-color: darkorange;
}
.reservation_time_button input[type="radio"][disabled] + label, .reservation_time_event_button input[type="radio"][disabled] + label,
.reservation_time_button .radio_object_hurry_up + label, .reservation_time_event_button .c4g_radio_object_fully_booked .radio_element input[type = "radio"] + label {
    background-color: red;
    cursor: no-drop;
    font-weight: normal;
}

.mod_C4gReservation .displayReservationObjects {
    display: none;
}

.mod_C4gReservation .displayReservationObjects select {
    font-weight: bold;
    color: black;
}

.mod_C4gReservation .displayReservationObjects select option:disabled {
    display: none;
}

.mod_C4gReservation .c4g_multicheckbox label.additional_params,
.mod_C4gReservation .c4g_multicheckbox label.included_params {
    display: inline-block!important;
}

.ui-datepicker-calendar .ui-state-default {
    color: green!important;
}

.ui-datepicker-calendar .ui-state-disabled .ui-state-default {
    color: red!important;
}

.mod_C4gReservation table.c4g_brick_table_rows td {
    padding-right: 1.5%;
}

.mod_C4gReservation table.c4g_brick_table_rows td {
    width: auto;
}

.mod_C4gReservation table.c4g_brick_table_rows {
    margin-top: 2.5%!important;
    margin-bottom: 0!important;
}
